<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anticipation</key>
	<array>
		<string>😊</string>
		<string>👻</string>
		<string>😺</string>
		<string>🙋</string>
		<string>🙋‍♂️</string>
		<string>🏃‍♀️</string>
		<string>🏃</string>
		<string>🐶</string>
		<string>😀</string>
		<string>😃</string>
	</array>
	<key>joy</key>
	<array>
		<string>😄</string>
		<string>🤗</string>
		<string>🤠</string>
		<string>💩</string>
		<string>😸</string>
		<string>🕴</string>
		<string>💃</string>
		<string>🕺</string>
		<string>😵</string>
		<string>😌</string>
	</array>
	<key>love</key>
	<array>
		<string>😽</string>
		<string>😘</string>
		<string>😙</string>
		<string>😚</string>
		<string>💋</string>
		<string>👄</string>
		<string>👫</string>
		<string>👭</string>
		<string>👬</string>
		<string>💑</string>
		<string>👩‍❤️‍👩</string>
		<string>👨‍❤️‍👨</string>
		<string>💏</string>
		<string>👩‍❤️‍💋‍👩</string>
		<string>👨‍❤️‍💋‍👨</string>
	</array>
	<key>trust</key>
	<array>
		<string>👏</string>
		<string>🙏</string>
		<string>🤝</string>
		<string>👍</string>
		<string>👊</string>
		<string>👌</string>
		<string>💪</string>
		<string>🙆</string>
		<string>🙆‍♂️</string>
		<string>🥊</string>
		<string>🤑</string>
	</array>
	<key>fear</key>
	<array>
		<string>😟</string>
		<string>😱</string>
		<string>😨</string>
		<string>😰</string>
		<string>🙀</string>
		<string>🙇‍♀️</string>
		<string>🙇</string>
		<string>🙍</string>
		<string>🙍‍♂️</string>
		<string>🦊</string>
		<string>🦁</string>
		<string>😦</string>
		<string>😧</string>
	</array>
	<key> surprise</key>
	<array>
		<string>😮</string>
		<string>😲</string>
		<string>😯</string>
		<string>😳</string>
	</array>
	<key>disapproval</key>
	<array>
		<string>👎</string>
		<string>🙅‍♂️</string>
		<string>🙅</string>
		<string>🤦‍♀️</string>
		<string>🤦‍♂️</string>
		<string>🤷‍♀️</string>
		<string>🤷‍♂️</string>
	</array>
	<key>sad</key>
	<array>
		<string>😔</string>
		<string>😢</string>
		<string>😭</string>
		<string>😿</string>
		<string>🚶‍♀️</string>
		<string>🚶</string>
		<string>😞</string>
		<string>😥</string>
	</array>
	<key>disgust</key>
	<array>
		<string>🙂</string>
		<string>😒</string>
		<string>😪</string>
		<string>😴</string>
		<string>🙄</string>
		<string>💀</string>
		<string>☠️</string>
		<string>🐰</string>
		<string>🌚</string>
		<string>🌝</string>
	</array>
	<key>anger</key>
	<array>
		<string>😤</string>
		<string>😠</string>
		<string>😡</string>
		<string>👿</string>
		<string>👺</string>
		<string>😼</string>
		<string>😾</string>
		<string>🙎</string>
		<string>🙎‍♂️</string>
		<string>🗣</string>
	</array>
	<key>困境</key>
	<array>
		<string>🙁</string>
		<string>☹️</string>
		<string>😣</string>
		<string>😖</string>
		<string>😫</string>
		<string>😩</string>
		<string>🤧</string>
		<string>😷</string>
		<string>🤒</string>
		<string>🤕</string>
		<string>😕</string>
	</array>
	<key>尴尬</key>
	<array>
		<string>😅</string>
		<string>😓</string>
	</array>
	<key>好笑</key>
	<array>
		<string>😂</string>
		<string>🤣</string>
		<string>😆</string>
		<string>😹</string>
	</array>
	<key>科科</key>
	<array>
		<string>😏</string>
		<string>😈</string>
		<string>👽</string>
		<string>🎃</string>
		<string>👁</string>
	</array>
	<key>萌萌哒</key>
	<array>
		<string>🐮</string>
		<string>🐷</string>
		<string>🙈</string>
		<string>🙉</string>
		<string>🙊</string>
		<string>🐣</string>
		<string>🐥</string>
		<string>☃️</string>
		<string>😋</string>
		<string>😛</string>
	</array>
	<key>吃瓜群众</key>
	<array>
		<string>😇</string>
		<string>🙃</string>
		<string>😶</string>
		<string>😐</string>
		<string>😑</string>
		<string>🤖</string>
		<string>👀</string>
		<string>👓</string>
		<string>🕶</string>
		<string>🐼</string>
		<string>🐒</string>
		<string>🐙</string>
		<string>🌞</string>
		<string>🌛</string>
		<string>🌜</string>
		<string>🤹‍♀️</string>
		<string>🤹‍♂️</string>
	</array>
	<key>猥琐</key>
	<array>
		<string>☺️</string>
		<string>😍</string>
		<string>🤓</string>
		<string>🤡</string>
		<string>🤤</string>
		<string>👹</string>
		<string>😻</string>
		<string>👙</string>
		<string>🐸</string>
	</array>
	<key>搞怪</key>
	<array>
		<string>😜</string>
		<string>😝</string>
		<string>🤔</string>
		<string>😬</string>
		<string>🤢</string>
		<string>👅</string>
	</array>
	<key>搞事情</key>
	<array>
		<string>😉</string>
		<string>🤥</string>
		<string>🤐</string>
		<string>😁</string>
		<string>😎</string>
	</array>
</dict>
</plist>
